.clientname{
    width: 181px;
    height: 35px;
    border-bottom: 2px solid #FB892B;
    text-align: center;
    color: #404040
}
.productList{
    margin-top: 2vh;
}
.btnready{
    width: 186px;
    height: 55px;
    margin-top: 3vh;
    background-color: #FB892B;
    color: #FFF;
    text-align: center;
    font-family: Hammersmith One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.containercheforder{
    display:flex;
    flex-direction: column;
    width: 263px;
    height: 512px;
    border-radius: 10px;
    background: rgba(9, 170, 41, 0.06);
    align-items: center;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.headercheforder{
    display:flex;
    height: 75px;
    width: 263px;
    justify-content:space-between;
}
.timeContainer{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem 1.5rem 0 0;
}
.containertime{
    display:flex;
    flex-direction: column;
    gap: 0.15rem;
}
.titleordertime{
    font-size: 10px;
}
.containerorderlist{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 208px;
    height: 336px;
    padding: 2vw;
    align-items: center;
}
.containerordernumber{
    display: flex;
    width: 51px;
    height: 44px;
    border-radius: 10px 0px 0px 0px;
    background: rgba(9, 170, 41, 0.69);
    justify-content: center;
    align-items: center;
}
.ordernumber{
    font-size: 20px;
    font-weight: 400;
    color:white;
}
.iconclock{
    display: flex;
    width: 40px;
    height: 40px;
}
.productItem p{
    display: flex;
    font-size: 18px;
    margin-top: 1vh;
    font-family: 'Inter', sans-serif;
    color: #404040;
}
.productItem{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}
.containerTotalTime{
    padding-top: 2rem;
    text-align: center;
    color: #5E4463;
}
.orderTimeText{
    font-size: 1.4rem;
}
