.order{
    display:flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    height: 10vh;
    margin-bottom: 2vh;
    justify-content: center;
    align-items: center;

}
p, span{
    font-size: 20px;
}

.containerCuantity{
    display:flex;
    width:6vw;
    justify-content: space-between;
}
.icon, .cancelorange{
    width: 2vw;
    height: 2vw;
}
.outicon{
    position: absolute;
    right:5%;
}
.orderProduct, .cancelorange{
    margin-left:1vw;
}
.containerClient{
    display:flex;
    justify-content: space-around;
    height: 6vh;
    align-items: center;
}
.inputCliente{
    height: 4vh;
    width: 20vw;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
}
.orderProduct{
    display:flex;
    width: 15vw;
}
.containerTotal{
    position: fixed;
    top: 75%;
    width: 34%;
    display:flex;
    justify-content: space-between;
    padding: 2vw;
    background-color: #F5F5F5;
    height: 8vh;
    font-weight: 500;
}
.containerBtn{
    position: absolute;
    display: flex;
    gap:1vw;
    bottom: 3vh;

}

.btnRemove, .btnSend{
    display:flex;
    margin-top:5vh;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    width: 187px;
    height: 55px;
    color: white;
    font-size: 20px;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:0.5vw;
}
.btnSend{
    background-color: #09AA29;
}
.btnRemove{
    background-color: #FB892B;
}