.order{
    display:flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    height: 10vh;
    margin-bottom: 2vh;
    justify-content: center;
    align-items: center;

}
p, span{
    font-size: 20px;
}

.containerCuantity{
    display:flex;
    width:6vw;
    justify-content: space-between;
}
.icon, .cancelorange{
    width: 2vw;
    height: 2vw;
}
.outicon{
    position: absolute;
    right:5%;
}
.orderProduct, .cancelorange{
    margin-left:1vw;
}

.orderProduct{
    display:flex;
    width: 15vw;
}
.containerTotal{
    position: fixed;
    top: 75%;
    width: 34%;
    display:flex;
    justify-content: space-between;
    padding: 2vw;
    background-color: #F5F5F5;
    height: 8vh;
    font-weight: 500;
}